.git
.gitignore
.env
.env.docker.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
docker-compose.yml
Dockerfile
docker
.editorconfig
prompt.md
README.md
